<!DOCTYPE html>
<html lang="en">

<body bgcolor="#E6E6FA" class="editprofile">
    <div class="wrapper bg-white mt-sm-5">
        <h4 class="pb-4 border-bottom">Editer Profile </h4>
        <div class="d-flex align-items-start py-3 border-bottom"> <img src="https://images.pexels.com/photos/1037995/pexels-photo-1037995.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" class="img" alt="">
            <div class="pl-sm-4 pl-2" id="img-section"> <b>Photo Profile </b>
                <p>Accepted file type .png. Less than 1MB</p> <button class="btn button border"><b>Upload</b></button>
            </div>
        </div>
        <div class="py-2">
            <div class="row py-2">
                <div class="col-md-6"> <label for="firstname">Prénom</label> <input type="text" class="bg-light form-control" placeholder=""> </div>
                <div class="col-md-6 pt-md-0 pt-3"> <label for="lastname">Nom</label> <input type="text" class="bg-light form-control" placeholder=""> </div>
            </div>
            <div class="row py-2">
                <div class="col-md-6"> <label for="firstname">Nom_utilisateur</label> <input type="text" class="bg-light form-control" placeholder=""> </div>
                <div class="col-md-6"> <label for="email">Email </label> <input type="text" class="bg-light form-control" placeholder=""> </div>


            </div>
            <div class="row py-2">
                <div class="col-md-6"> <label for="country">city</label> <select name="country" id="country" class="bg-light">
                  <option value="india" selected>Tunisie</option>
                  <option value="usa">monastir</option>
                  <option value="uk">sousse</option>
                  <option value="uk">bizerte</option>
                  <option value="uae">Tunis</option>
                  <option value="uk">kairwan</option>
              </select> </div>
                <div class="col-md-6 pt-md-0 pt-3"> <label for="phone">Contact</label> <input type="tel" class="bg-light form-control" placeholder="+216 96-548-615"> </div>
            </div>
            <div class="py-3 pb-4 border-bottom"> <button class="btn btn-primary mr-3">Enregistrer modifications</button> <button class="btn border button">Cancel</button> </div>
            <div class="d-sm-flex align-items-center pt-3" id="deactivate">
                <div> <b>Supprimer votre compte</b>

                </div>
                <div class="ml-auto"> <button class="btn danger">Supprimer</button> </div>
            </div>
        </div>
    </div>
</body>

</html>